body{
	font-family: 'Roboto', sans-serif;
    margin-top: 5em;
}
.nav-pills .nav-link.active, .show>.nav-pills .nav-link{
    background-color: #ff2d55;
	border-radius: 7px;
}
.bordercustom{
	border:1px;
    border-style: solid;
    border-radius: 8px;
    border-color: #ff2d55;
}
.nav-link{
	color: #ff2d55;
}
.nav-link:hover{
	color: white;
	background-color: #ff6b81;
	border-radius: 8px;
}
.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev{
	display: none;
}